<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title></title>
<style>
  .error { color: red; font-weight: bold; }
  tr { background-color: #eef; }
</style>
</head>
<body>
<form action="/shop/create" method="post" th:object="${itemForm}">

  <table>
    <tr>
      <td>Name:</td>
      <td>
        <input type="text" th:field="*{name}"/>
      </td>
      <td>
        <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
      </td>
    </tr>
    <tr>
      <td>Price:</td>
      <td>
        <input type="text" th:field="*{price}"/>
      </td>
      <td>
        <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{price}"></div>
      </td>
    </tr>


  </table>

  <input type="submit" value="登録"/>
</form>
</body>
</html>
