<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<link rel="stylesheet" href="../css/findAll.css">
<title>Insert title here</title>
</head>
<body>
	<table border="1" class="find_all_table">
		<tr class="products_columns">
			<th>商品番号</th>
			<th>商品名</th>
			<th>価格</th>
		</tr>
		<tr th:each="item: ${items}">
			<td th:text="${item.id}"></td>
			<td th:text="${item.getName()}"></td> <!--  thymeleafからエンティティのフィールド値を受け取るにはentity.ゲッターメソッド-->
			<td th:text="${item.getPrice()}"></td> <!-- get+[フィールド名]のgetterが定義されているならentity.フィールド名で取得できる。 -->
		</tr>
	</table>
</body>
</html>