<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
	<div>ドロップダウンリスト</div>
	<select>
		<option th:each="item: ${session.items}" th:value="${item.id}" th:text="${item.name}"></option>
	</select>
	<div>チェックボックス</div>
	<div th:each="item: ${session.items}">
		<input type="checkbox" th:id="${item.id}"/>
		<label th:text="${item.name}"></label>
	</div>
	<div>ラジオボタン</div>
	<div th:each="item: ${session.items}">
		<input type="radio" name="selectedRadio" th:value="${item.id}" th:text="${item.name}"/>
	</div>
</body>
</html>